.main {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin: auto;
}

.product-box {
  width: 26%;
  height: 360px;
  line-height: 5px;
  margin-left: 10px;
}

.product-box:hover {
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.image-box {
  text-align: center;
  width: 100%;
  height: 280px;
}

img {
  width: 85%;
  border-radius: 3%;
  margin: auto;
  margin-top: 5%;
}

body {
  background-color: #ffffff;
}

p {
  font-size: 12px;
}

.price-box {
  display: flex;
  margin-top: -5px;
  margin-left: 8%;
}

h2 {
  text-align: center;
}

.discount-color {
  color: saddlebrown;
  font-style: italic;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.price-bold {
  font-weight: bold;
  margin-right: 10px;
}

.line-on {
  text-decoration-line: line-through;
}

.brand-box {
  letter-spacing: 0.8px;
  margin-left: 8%;
}

.brand-name {
  letter-spacing: 1px;
  font-weight: bold;
}
.filter-div {
  width: 25%;
  height: 500px;
  border: 1px solid red;
}
.kurta-heading {
  width: 85%;
}
h3 {
  text-align: center;
}
.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
#sortBy {
  width: 85%;
  display: flex;
}
label {
  margin-left: 60%;
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 2px;
}
select {
  padding: 10px;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 15px;
}
