 *{

    font-family: "kanit,sans-sarif";
 }

 .imp{
     line-height:2rem;
     margin-top: 160px;
    
 }

 .bold{
     font-weight: bolder;
 }
 
 #start{
            display: flex;
            margin-bottom: 1rem;
            font-size: 20px;
            margin-left: 185px;
            margin-top: 160px;
            

        }

        #main {
            width: 95%;
            height: 1500px;
            margin: auto;
            display: flex;
        }

        #main1 {
            height: 100%;
            width: 50%;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 45% 45%;
            margin-left: 140px;
        }

        .imp img:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transform: scale(1.1);

            border-radius: 10px;
        }

        #main1>div {
            margin-left: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        }

        #main2 {

            height: 100%;
            width: 48%;
            margin-left: 20px;

        }

        l,
        i,
        p {
            margin-left: 10px;

        }

        #bottonsize>button {
            margin-left: 20px;
            border-radius: 10px;
            padding: 3px 15px;
            background-color: white;

        }

        #offer {
            margin-top: 20px;

            height: 250px;
            width: 75%;
            background-color: #fff1c0;
            border-radius: 10px;
        }

        #quant {
            display: flex;
            width: 75%;
            height: 40px;

            margin-top: 5px;
            justify-content: space-evenly;
            background-color: #e2f1f1;
        }

        #quant>input {
            text-align: center;
            border-radius: 10px;
            width: 100px;
            height: 60%;
            margin-top: 5px;
            font-size: 20px;
        }

        #quant>p {
            margin-top: 10px;
        }

        #placeorder {
            display: flex;
            width: 75%;
            height: 60px;
            border-bottom: 2px solid gold;
            border-top: gold 2px solid;
            font-size: 15px;
           
        }

        #placeorder>img {
            margin-top: 10px;
            height: 30px;
            width: 60px;
        }

        #CARTBTT>button {
            margin-top: 15px;
            padding: 10px 40px;
            margin-left: 20px;

            border-radius: 20px;
            margin-bottom: 30PX;
        }

        #last {
            display: flex;
            justify-content: space-between;
            width: 350px;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            font-size: 15px;
        }

        #wishlist_btn:hover {
            background-color: rgb(195, 240, 240);
            color: rgb(12, 11, 11);
        }

        #wishlist_btn {

            color: rgb(19, 17, 17);
            border: transparent;
        }

        #add_to_bag {
            background-color: #00a7ac;
            color: white;
            border: transparent;
        }


        #add_to_bag:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }

        #bottonsize>button:focus {
            background-color: teal;
            color: white;
            
        }

        #share {
            display: flex;
            width: 350px;
            justify-content: space-between;
        }

        #share>img {
            width: 20px;
            height: 30px;
            
        }
        #main1 img{
            border-radius: 20px;
        }