    #container {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 560px;
        margin: auto;
        background-color: white;
        border-bottom: 30px #ffc929 solid;
        border-radius: 10px;
    }

    #t1 {

        height: 90px;
        padding: 0px 70px;
        background-color: #ffc929;

    }

    #login {
        text-align: center;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #form {
        padding: 10px opx;
        text-align: center;
    }

    #container input {
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding-left: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px grey solid;
    }

    label {
        font-size: 20px;
        margin-bottom: 20px;
        padding-right: 140px;
    }

    #btt {
        padding: 15px 70px;
        border-radius: 30px;
        font-size: 25px;
        color: white;
        background-color: teal;
    }

    #googfac {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

    }

    #container button {
        width: 200px;
        border-radius: 30px;
        color: #1877f2;
        background-color: white;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }

    #container img {
        width: 180px;
        height: 55px;
        padding-top: 10px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    #container p {
        font-size: 20px;

    }

    body {
        background-image: url(https://pantaloons.imgix.net/img/app/brands/pantaloons/bg-login.png);
    }